[2019-10-05 04:43] dillonkearns opened #2 "Lists should accept all valid bullet markers"
`-`, `+`, and `*` are all valid ways to start a markdown List according to [the Github-Flavored Markdown (GFM) Spec](https://github.github.com/gfm/#bullet-list-marker). However, this library currently only handles the `-` character as a bullet marker.

See https://github.com/dillonkearns/elm-markdown/blob/master/src/Markdown/List.elm and https://github.com/dillonkearns/elm-markdown/blob/master/tes

[2019-10-07 20:04] dillonkearns opened #3 "Parse `<>` as empty link target"
See this example in the GFM spec: https://github.github.com/gfm/#example-496

This should parse as a link with a blank destination: https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Links.md#example-484

[2019-10-07 20:07] dillonkearns opened #4 "Give error message on URL with space"
Let's give an explicit error message in this case:

https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Links.md#example-485

The current behavior is that we are generating an invalid link (contains a space) (here's the test failure showing the current output: https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Links.md#example-485)

The

[2019-10-07 20:09] dillonkearns opened #5 "Handle numbered lists"
Example of some related failures:

* https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Lists.md#example-275
* https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Lists.md#example-272

[2019-10-13 09:36] thomasin commented on #3
i will try & do this (-:

[2019-10-13 14:57] #3 closed

[2019-10-14 07:43] thomasin commented on #4
i can try & do this (-:

[2019-10-15 17:00] dillonkearns opened #7 "Parse nested lists"
Currently the [List Block type](https://package.elm-lang.org/packages/dillonkearns/elm-markdown/latest/Markdown-Block) just has inlines:

[code]

The `Block` type will need to change to support this. It should support having nested `Block`s, including other lists.

An example of a failing test cases for this is https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Lists

[2019-10-16 21:57] stephenreddek commented on #5
@dillonkearns I was thinking that I could take this on almost as a continuation of my other PR. It seems to me that the base `Block` type would rename the `List` to `UnorderedList` and then this PR would add `OrderedList`. Does this sound like an appropriate direction to pursue?

[2019-10-16 22:00] dillonkearns commented on #5
Hi @stephenreddek, yes that sounds lovely! Thank you for asking, and thanks for your work on this! 🙏

Are you doing some Hacktoberfest coding, or just looking for a fun Elm project in general?

[2019-10-16 22:15] stephenreddek commented on #5
A bit of both! I won't stop looking for fun elm projects after the month of October 😄. Unless you'd like to preserve some of these tasks for more contributors, I'll probably continue working on these as time allows. I find parsing particularly enjoyable.

[2019-10-16 22:27] dillonkearns commented on #5
That's wonderful @stephenreddek! I would love your contributions!

I agree, it is really fun working on parsers, especially with the really nice `elm/parser` library. If there was more time in the day, I'd work on it even more! It was really hard getting the initial API working with the parsing of the inner HTML contents, but that was so fun. And then getting the initial markdown stuff was fun but

[2019-10-17 14:19] stephenreddek commented on #5
@dillonkearns The way you've set up the spec to show the failures is very nice. That was well worth your effort!

Sounds great! Thank you

[2019-11-13 15:26] dillonkearns commented on #2
Closing this issue as the PR has been merged 👍

[2019-11-13 15:27] #2 closed

[2019-11-28 11:17] matheus23 opened #15 "Refactor Markdown.Parser.Renderer type"
Hi!
Would it make sense to change the `Markdown.Parser.Renderer` type so that its `link` field changes the type like following?

[code]

This issue came up, when I wanted to define a Markdown renderer that would contain model-dependent views. So I was trying to write a type `Markdown.Parser.Renderer (Model -> Html Msg)`.

This is possible today, by using a `renderer.link` defined like this:
[code]

[2020-01-10 05:04] #4 closed

[2020-01-12 18:13] dillonkearns commented on #5
This is fixed with #9 (package version 2.0.0) 🎉 Nice work! 😄

[2020-01-12 18:13] #5 closed

[2020-01-14 16:15] dillonkearns opened #19 "API to fail unless inner HTML is empty for a given tag type"
## Background

I find myself using certain tags that always ignore the inner HTML (the children of that tag). For example, I have a tag for rendering an Ellie view like this:

[code]

The markdown renderer for it looks like this:

[code]

Notice that the `children` parameter is ignored.

So it would also be valid to write HTML like this:

[code]

## Possible Solution

Change the `Markdown.Html` AP

[2020-01-14 16:26] dillonkearns opened #20 "Provide a way to validate HTML attributes"
Right now, there's no way to fail if an HTML attribute doesn't pass a validation. For example, I have some code where I have different icon types that I handle. I convert it to my custom type (enum-like, just a set of options). I want to be able to fail if it is not one of the given options, or if it is, map it to that type.

[code]

[code]

[2020-01-14 16:38] dillonkearns opened #21 "What should the behavior be for unhandled HTML attributes?"
Right now, if you have an HTML handler like this:

[code]

You may experience confusing behavior if you pass in arguments that are not handled. For example, this will successfully render, but will completely ignore `first` and `last`

[code]

## Pros and Cons
There are tradeoffs either way. By being explicit, it's less confusing when you are passing something with the wrong argument names. Or if y

[2020-01-15 01:24] dillonkearns commented on #15
Hello @matheus23! Thanks for sharing your thoughts. So I'm trying to follow, and I think I may need some clarification. Let me try to restate some things, and please let me know if I misunderstood anything!

* You're talking removing the `Result` types from the `Renderer` config record, and instead having it be part of an AST scanning step where you look at the blocks? So `Renderer`s will always s

[2020-01-15 15:16] matheus23 commented on #15
Yes, exactly. In my example above, `Markdown.parse` would correspond to AST parsing, `checkLinks` would correspond with dead link checks and `Markdown.render` would correspond to rendering.

It would allow distinguishing something that *can* fail (`Renderer (Result String view)`) and something that cannot fail (`Renderer view`).

I do believe that is one of the advantages, but what I want even mor

[2020-01-21 04:53] sjansen opened #22 "README examples failing to compile on Ellie"
Appears to be a result of splitting `list` into `orderedList` and `unorderedList`.

Unfortunately I don't understand Elm well enough yet to offer a fix PR.

[2020-01-21 16:10] #22 closed

[2020-01-21 16:12] dillonkearns commented on #22
Hello! I updated the examples in the README last week but I didn't publish any changes to the Elm package since then so they're not showing up there. I just published so it should be working now! Thank you!

Also, it's strange that the Ellie links broke... I don't think that's the intended behavior. If an Ellie version compiles, it should continue to compile forever. If new underlying packages are

[2020-01-27 15:48] kyasu1 opened #23 "A line containing only spaces is invalid"
Hi, Thank you for another great library !

I noticed that if my document contains a line with a space or spaces only, `Markdown.Parser.parse` shows the following errors.

[code]

You can confirm this with your sample [app](https://ellie-app.com/7LDpp22bWKYa1) by clearing the text area then typing a space.

This is pretty annoying since it is hard to spot the lines with white spaces from a long doc

[2020-01-27 16:10] kyasu1 commented on #23
Ahhh after writing this issue, I noticed this was mentioned in the following.

https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Blank%20lines.md

And I realized I could solve this by applying `String.trimRIght` to each line before parsing...

Thanks

[2020-01-27 16:17] dillonkearns commented on #23
Hello @kyasu1 👋Thanks for the issue! Actually, if you don't mind, I would love to keep this issue open. Nice that you found a workaround, though, but it would certainly still be nice to get this fixed (especially because often markdown input could be coming from a CMS, for example).

I've found it really helpful to have issues for the next set of priorities to tackle, and this definitely seems lik

[2020-02-03 13:53] CThuleHansen opened #24 "new line in html renderer"
Hi,

I am trying to make a newline using two spaces in the end of a line, but I am not having luck with it.
Is it supported in a different fashion? My input string is - e.g.:

test
test2

I use  defaultHtmlRenderer.

Is there another way to do it?

[2020-02-03 13:56] CThuleHansen commented on #24
Ah. Found it failing here: https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Hard%20line%20breaks.md

[2020-02-10 22:04] dillonkearns opened #27 "Strikethroughs"
Github-Flavored Markdown adds strikethroughs. The parsing for this will be similar to how other inlines are parsed:

https://github.com/dillonkearns/elm-markdown/blob/master/src/Markdown/Inlines.elm#L23-L39

And the inline style record will need to keep track of whether we are in a strikethrough:

https://github.com/dillonkearns/elm-markdown/blob/master/src/Markdown/Block.elm#L68-L75

Here's the c

[2020-02-10 22:29] #23 closed

[2020-02-13 06:32] dillonkearns opened #30 "Task type discussion"
There are so many ways to represent the task type that I thought I'd just write down several possibilities that have been suggested, along with a concrete example of each in use so we can get a sense of what it feels like to destructure it.

Here's a concrete example in the wild on the branch where this code current lives if you want the full context:

https://github.com/dillonkearns/elm-markdown/

[2020-02-19 22:47] matheus23 commented on #21
I understand it is possible to lose power by forcing all attributes to be handled, but I would love to have typos be checked!

Maybe there is something with the best of both worlds? Wouldn't it be possible to implement some function like `Markdown.Html.withAllAttributes` that gives the list of key-value attribute pairs of all attributes. If it is included, there can't be an error with missing attr

[2020-02-20 01:44] dillonkearns commented on #21
@matheus23 yeah, I agree, I think that's a nice balance.

Maybe something like

[code]

And it would only give you the unhandled ones, not all attributes. Seems pretty nice, what do you think of that idea?

I like the term catch because it gives a clear indication that it changes the behavior from potentially giving an error to catching that error case.

[2020-02-21 09:42] matheus23 commented on #19
It would be nice to have something like `Markdown.Html.withChildren`, but I see how that is hard to implement with the current design...

[2020-02-24 14:57] matheus23 commented on #15
I have started a prototypical implementation for this this morning.

[Here is the documentation](https://elm-doc-preview.netlify.com/Markdown-Renderer?repo=matheus23%2Felm-markdown&version=resultless-renderer)

[Here is the sourcecode](https://github.com/matheus23/elm-markdown/blob/resultless-renderer/src/Markdown/Renderer.elm)

[2020-02-25 07:40] dillonkearns commented on #30
Published in 3.0.0 with this type

[code]

Thanks to all who gave their feedback in Slack! 🙏

[2020-02-25 07:40] #30 closed

[2020-02-25 07:54] dillonkearns commented on #19
Just as a starting point for discussion, this is possible with the current design:

[code]

Which causes these two succeed

[code]

And this to fail

[code]

The implementation is like this

[code]

## Iterating on the Design
That said, there are a lot of cases to think through. For example, can we get nice error messages here? We can cycle through all the possibilities in `oneOf`, so I don't thin

[2020-02-26 03:44] thomasin commented on #27
i will pick this up

[2020-02-26 03:47] dillonkearns commented on #27
Hey @thomasin! I'm glad you mentioned it, because actually I'm working on a big change to the inline parsing right now, and it changes the inline parsing code completely (using the inline parser from https://github.com/pablohirafuji/elm-markdown). Here's the branch: https://github.com/dillonkearns/elm-markdown/compare/rewrite-inlines.

So let's hold off on this ticket until I get that merged. I'm

[2020-02-26 03:53] dillonkearns opened #32 "Handle whitespace within thematic breaks"
See the failing test cases here: https://github.com/dillonkearns/elm-markdown/blob/rewrite-inlines/test-results/failing/GFM/Thematic%20breaks.md

Also, thematic breaks can have tabs separating them (which is kind of odd... but hey, I'm not here to judge people's markup styles 😁): https://github.com/dillonkearns/elm-markdown/blob/rewrite-inlines/test-results/failing/GFM/Tabs.md#example-11

[2020-02-26 03:54] dillonkearns opened #33 "GFM Tables!"
This will be a really fun one I think (for those of us who find working on parsers fun 😉). Here are the relevant spec failures: https://github.com/dillonkearns/elm-markdown/blob/rewrite-inlines/test-results/failing/GFM/%5Bextension%5D%20Tables.md.

It would be best to create a separate module and unit test module to encapsulate these, then wire that into the top-level parser.

[2020-02-26 03:55] dillonkearns opened #34 "Setext headings"
Relevant section of the CommonMark spec: https://spec.commonmark.org/0.29/#setext-headings

Relevant failures: https://github.com/dillonkearns/elm-markdown/blob/rewrite-inlines/test-results/failing/GFM/Setext%20headings.md

[2020-02-26 03:58] dillonkearns commented on #27
Thanks for checking back on this project! It's great having you help out with getting these spec cases passing.

We're starting to get to the point where a lot of the main cases are going green, and the remaining noise will be some cases where we'll have to come up with some explicit goals about how `dillonkearns/elm-markdown` will differ from the CommonMark spec. I'm thinking it will only differ

[2020-02-26 03:58] dillonkearns commented on #27
And here's the agenda so far: https://gist.github.com/dillonkearns/0034a85ce8de293cc83c8e4aecdd30da

[2020-02-26 04:16] thomasin commented on #27
Thanks for the update (-: Sounds good, I wasn't aware of the markdown channel. Will make some time to check out that diff and join the call.

[2020-02-26 09:06] matheus23 commented on #27
I was not aware of this channel either!
Can we mention it somewhere in the readme or perhaps in the contributing.md?

[2020-03-09 15:11] dillonkearns commented on #27
@matheus23 great idea! Updated: https://github.com/dillonkearns/elm-markdown/commit/424925416cf2f4267e6630a6d5b893cbbf03cfab ✅

[2020-03-18 22:34] stephenreddek commented on #33
After the live stream, I'm now further working on this feature here: https://github.com/stephenreddek/elm-markdown/tree/gfm-tables

[2020-03-19 00:56] dillonkearns commented on #33
Woo! That's awesome, thanks so much for picking this up Stephen! Ping me on slack if you have any questions.

I've got it all wired in, but I commented out a the line that includes the parser at the top-level

https://github.com/dillonkearns/elm-markdown/blob/227e6e51af2d0284f563a2fb95ede1390548f716/src/Markdown/Parser.elm#L722-L723

And a test case:

https://github.com/dillonkearns/elm-markdown/b

[2020-04-02 18:41] matheus23 commented on #15
I think the 4.0.0 release from two weeks ago fixes this issue :)

[2020-04-02 18:41] #15 closed

[2020-04-20 20:48] thomasin opened #44 "Fenced code blocks"
Finish the fenced code blocks implementation
Spec failures: https://github.com/dillonkearns/elm-markdown/blob/rewrite-inlines/test-results/failing/GFM/Fenced%20code%20blocks.md

All fenced code block tests should pass

[2020-04-20 20:49] thomasin commented on #44
I would like to pick this up 👍

[2020-04-21 08:24] matheus23 commented on #44
I guess there's a lot of changes happening in #43, just so you're aware :)

[2020-04-21 08:28] thomasin commented on #44
Oh whoops I should have mentioned it sooner. Thanks for the heads up!

[2020-04-22 02:48] thomasin commented on #34
I will give this a go 👍

[2020-04-22 14:47] dillonkearns commented on #34
Yay! That would be amazing, thank you @thomasin! Feel free to ping me at any point if you want to talk any ideas through (here, or Slack, or anywhere else) 👍

[2020-04-22 15:09] folkertdev commented on #44
That's merged now. Still quite some failures in that category. Always happy to discuss the parser changes/speed quirks.

[2020-04-22 15:10] folkertdev commented on #32
I believe #43 fixes this issue

[2020-05-10 20:37] hoichi opened #48 "Render to markdown"
Suppose I want to manipulate markdown AST and export the result as markdown. Am I correct to understand there’s no way to convert AST to markdown other than writing a custom renderer?

Do you, by any chance, plan to include rendering to markdown in your package? As stable as the GFM spec is, it would be nice to have deserialization and serialization knowledge in the same package.

[2020-05-11 11:03] matheus23 commented on #48
Hi! I'm interested in such things. Here's some questions I have:
* Whats your usecase?
* After manipulation of the markdown AST, do you want to have a minimal-as-possible diff in your markdown, or would you be fine with a 'formatted' output?

I'd be happy to explore this design space with some implementation, too.

[2020-05-11 16:31] hoichi commented on #48
My use case is, I want a WYSIWIG Markdown editing with [elm-rte-toolkit](https://github.com/mweiss/elm-rte-toolkit). Also, search (and probably replace) across notes/files and maybe some other manipulations. The audience is, first and foremost, non-technical.

I haven’t thought of the diff, but just of the top of my head, some thoughts:

- I guess the .md output being generally human-readable (and

[2020-05-11 21:01] dillonkearns commented on #48
Hello @hoichi, thank you for the conversation, and thanks for sharing some background!

Yes, having some built-in functions to convert the Markdown blocks into markdown (without a custom renderer) is very much in line with the project goals. It's been on my mind, and I think it's a no-brainer to include it.

It's more a question of how we want to implement it, and then taking the time to do it. @m

[2020-05-12 10:56] hoichi commented on #48
Hello @dillonkearns. Thanks to you for all the insights and, of course, thanks for your work.

Again, for my use case, preserving the markdown code style is not really important, especially on a per-file, leave alone per-element, basis. First of all, my project is WYSIWYG-first, with markdown backend for interoperability, and to prevent vendor lock-in. I can relate to being particular about how do

[2020-05-12 16:30] dillonkearns commented on #48
Great background, thanks @hoichi! Yeah, having a limited configuration in a future iteration could be a way to allow for custom formatting without having a CST. Sticking with a more abstract representation of the block structure definitely feels like the right approach to me.

If you consider the experience with `elm-format`, too, it's quite nice in some cases to have a canonical representation th

[2020-05-12 18:36] matheus23 commented on #48
There's many ways of doing this - anyhow, I implemented one of these for fun: https://5ebaeb423003da0006240b8a--elm-markdown-transforms.netlify.app/format-markdown.html

I've used my `elm-markdown-transforms` library, but it's pretty easy to translate this to the basic elm-markdown `Markdown.Renderer.Renderer`. You can see the code for it here: https://github.com/matheus23/elm-markdown-transforms/

[2020-05-12 21:19] dillonkearns commented on #48
That's fantastic, love it! ❤️

I definitely think this makes sense to include in the core package.

Do you think it makes sense to expose this as a Renderer, like [`Markdown.Renderer.defaultHtmlRenderer`](https://package.elm-lang.org/packages/dillonkearns/elm-markdown/latest/Markdown-Renderer#defaultHtmlRenderer)? Or as something like this:

[code]

There are benefits to both, I suppose. One thoug

[2020-05-12 21:44] hoichi commented on #48
I’m pretty sure I don’t understand all the design decisions behind `Renderer`, but it seems a little too low-level for the task. So, yeah `blocksToMarkdown` probably shouldn’t be more complicated than `Config -> LIst Block -> String`, if that.

@matheus23 Seems like you have it nailed already. Looks nice—or maybe I can’t get over how nice Elm is :grinning:

[2020-06-14 10:25] matheus23 commented on #48
Rendering markdown to a string made it into [elm-markdown-transforms](https://package.elm-lang.org/packages/matheus23/elm-markdown-transforms/latest/Markdown-Scaffolded#reducePretty). I recommend taking a look at the [example source code](https://github.com/matheus23/elm-markdown-transforms/blob/master/examples/src/FormatMarkdown.elm#L122-L127) to find out how to use elm-markdown-transforms with e

[2020-06-15 11:02] hoichi commented on #48
@matheus23 Terrific, thanks a ton!

As for the `Renderer`/`Result` things, maybe it’s worth considering using the renderer interface internally if that simplifies code reuse, but expose a `List Block -> String` interface to consumers. As I said, I think converting to markdown is a special case, because markdown is a _backend format_, as opposed to HTML and whatnot, and the lib should probably enca

[2020-06-16 08:00] matheus23 commented on #48
Yeah, I do that a lot. Things like custom rendering of code blocks, images or HTML within markdown.

I'm holding back on doing that, because I'm experimenting with a datastructure that could replace the `List Block` and the `Renderer` at the same time. That might take a while, though.

In the meantime, I would agree a `List Block -> String` function would be useful, but less powerful than a `Rende

[2020-06-27 21:36] setdvd opened #49 "Table is parsed as paragraph"
Looks like table is not parsed

How to reproduce

go to ellie https://ellie-app.com/8kQjvHM9hMfa1

paste md from github example for table:

First Header | Second Header
------------ | -------------
Content from cell 1 | Content from cell 2
Content in the first column | Content in the second column

it is rendered as paragraph / text

[2020-06-27 21:38] dillonkearns commented on #49
Hello @setdvd! Yes, we decided to ship the types to avoid a breaking change once we shipped the finished table parser. It was in progress so I didn't want to turn on the parsing before it handled all cases properly. Sorry for the confusing.

The issue is being tracked here already, so I'll close this one and we can keep track of progress here: https://github.com/dillonkearns/elm-markdown/issues/33

[2020-06-27 21:38] #49 closed

[2020-07-13 05:49] hayesgm opened #50 "Inline HTML Code Blocks"
I'm trying to use the extensible aspect of `elm-markdown` to add a `<sup>` tag without forking the library.

For example:

[code]

This is the standard GFM style,<sup> or so I've been told</sup>. I added a custom HTML extension as such:

[code]

However, this is being parsed and rendered as:

[code]

[code]

I am not sure this falls under standard GFM failures as it depends largely on the specific

[2020-07-14 01:11] dillonkearns commented on #50
Hello! It's probably worth clarifying what the `defaultHtmlRenderer` does in this case and how it compares to standard GFM.

My initial thought is that it could take in an explicit set of html handlers. Right now, it doesn't accept any HTML tags. But that's just that particular function, the library itself is fully extensible in you can handle HTML tags. Here's an example that builds off of the de

[2020-07-14 02:24] hayesgm commented on #50
Yes, that sample is similar to what I had been building, and my only real concern there is that it renders as `<ul><li>2<sup><p>2</p></sup></li></ul>`, and that extra `Html.p` tag is impossible to remove (since you can't effectively edit Elm's `HTML msg` types as the constructors are not exposed to pattern match over, as far as I know). The solution may just be to make sure the css treats the para

[2020-07-14 08:06] hayesgm commented on #50
Digging into this a bit, when we parse a node like `section` in `HtmlParser`, we end up breaking out the children as such:

`Element "section" [] [Text "\n* 1", Text "\n\n* 2",Element "sup" [] [Text "2"],Text "\n* 3\n\n"]`

Since that element breaks the unordered list when parsing blocks, whereas usually those elements would be a single unordered list and the html would be parsed as an inline.

Th

[2020-07-31 15:53] chazsconi commented on #33
Hi @stephenreddek - how are you getting on with this?  It would be really nice to be able to have tables as I need them for a project I am working on

[2020-07-31 16:39] stephenreddek commented on #33
hi @chazsconi ! I'm sorry I haven't made progress on this in months. I've been feeling pretty burnt out and kind of stopped working on things outside of work. This gives me some more motivation to work on it (and perhaps even feel a bit rejuvenating to work on something fun)! Let me get into it this weekend and see what I can get done!

[2020-07-31 17:45] devinjameson opened #51 "Is there a way to render any arbitrary HTML tag instead of erroring?"
Something like this?

[code]

[2020-07-31 17:51] chazsconi commented on #33
Great - thanks a lot!

[2020-08-03 15:47] stephenreddek commented on #33
I've made some good progress on parsing regularly formatted tables. I haven't yet properly dealt with things like escaped pipes in tables, alignment, and block elements immediately following the table (usually an empty line is required, but the spec says a `>` should also break it).

[2020-08-04 10:47] chazsconi commented on #33
@stephenreddek Thanks so much for working on this - I checked out your branch and it is all I need for my use case

[2020-08-05 07:16] supermario commented on #50
I've run into this same issue, in my case meaning I'm unable to use this package as I need lots of rich inline HTML.

Example:

<img width="380" alt="Screenshot 2020-08-05 08 14 51" src="https://user-images.githubusercontent.com/102781/89383067-c17fda00-d6f3-11ea-87f1-38ce3c9719c4.png">

Becomes

<img width="357" alt="Screenshot 2020-08-05 08 16 35" src="https://user-images.githubusercontent.com/1

[2020-08-05 15:08] dillonkearns commented on #50
Yeah, it's been on my radar that I'll need some way to take in raw text. Or at least that's one solution.

## Current Behavior

For example, the current behavior is :

[code]

[code]
## Option 1

We could add a function that gives you direct access to the raw text within the HTML, like this:

[code]

[code]

## Option 2

I guess the other way to approach it could be to not wrap the rendered childr

[2020-08-05 18:24] supermario commented on #50
@dillonkearns not sure if I'm just not understanding your proposed options, but it seemed to me straightforward that nested tags should be parsed within their context, rather than always breaking out to the top level.

I think @hayesgm articulated it nicely in his first post – it seems that any parsed `HtmlBlock` lifts all the way up to the top (as evidenced by the `<sup>` example become a top lev

[2020-08-10 07:39] hayesgm commented on #50
I believe there are actually two issues going on here:

#### Issue 1 - Paragraph Wrapping
`renderedChildren` are always wrapped in a `<p>`, which can break certain renders.

Example: `* 2<sup>2</sup>`
Renders to `<p>Hi <sup><p>there</p></sup>.</p>`

The paragraph tag inside of `<sup>` breaks rendering without custom styling (e.g. `sup p { display: inline; }`).

#### Issue 2 - Invalid Parsing of Ne

[2020-08-28 15:35] alltonp commented on #33
Would love to have basic table support.. is it possible to get this PR merged?

[2020-08-28 17:14] dillonkearns commented on #33
Hello @alltonp! I've been coordinating with Stephen on Slack and we've been actively working to get it merged! Sorry for not doing a good job posting those updates in this thread, and thanks for the reminder to do that.

The current status of this PR is that the behavior is in great shape and the code is looking excellent. After doing some benchmarking, we found about a 10% degradation in the benc

[2020-08-28 19:27] alltonp commented on #33
hi @dillonkearns, thank you for the update and also for such a great library, look forward to seeing table support soon!

[2020-09-05 09:39] tadityar commented on #27
Is this https://github.com/dillonkearns/elm-markdown/pull/46 the inline parser change that was blocking this issue? (and now that it's merge there's no more blocker on this?)

[2020-09-05 16:51] dillonkearns commented on #27
Thank you for checking back on this @tadityar! I forgot to give an update here.

This is no longer blocked. The pull request I was referring to was #35, but you're right that #46 made some changes in that area as well.

And those are both merged and stable now. So you're welcome to pick this up if you're still interested @thomasin!

[2020-09-10 15:27] lwheng opened #54 "Sample at https://ellie-app.com/8kHgbSLfhfha1 doesn't compile"
The definition of `elmUiRenderer` is incomplete. I had to update `tableCell` to the following:

`tableCell = \maybeAlignment children ->  Element.paragraph [] children`

before the sample page can render successfully.

[2020-09-13 20:10] confusingbits opened #55 "Line breaks (double space or \) appear to be non-functional for file saved with CRLF line endings."
Reposting here as suggested.
https://github.com/dillonkearns/elm-pages/issues/141#issuecomment-683936031

Title says it all. I was having difficult getting line ending to display in certain files until I realized that the working files were saved with LF line endings and the non-functional files were saved with CRLF style line endings.

[2020-09-30 09:29] turboMaCk opened #56 "DeadEnd should be exposed at least as a opaque type"
Function [parse](https://package.elm-lang.org/packages/dillonkearns/elm-markdown/latest/Markdown-Parser#parse) exposes `DeadEnd` type to the user API. However this type is not exposed which means one can't write type annotations for function to convert these error cases.

Two solutions:

- automatically call `deadEndsToString` in user API since there is not much else user can do about this type an

[2020-10-01 22:11] thomasin commented on #27
Am happy for someone else to take this one (:

[2020-10-02 18:06] dillonkearns commented on #33
This is now supported in the latest version! See #52.

[2020-10-02 18:06] #33 closed

[2020-10-02 18:20] dillonkearns commented on #55
Here's the relevant section [that defines line endings in the markdown spec](https://github.github.com/gfm/#line-ending). Newline (`U+000A`), carriage return (`U+000D`), or a carriage return followed by a newline (`U+000D`  followed by `U+000A`) are all valid line endings. There are several places in the code where we have `"\n"` hard coded.

## Tasks

For example, this section https://github.gith

[2020-10-02 18:33] dillonkearns opened #57 "Parse GFM Extended Autolinks"
We currently handle the [CommonMark autolinks](https://github.github.com/gfm/#autolinks), which are links with explicit surrounding `<>`'s.

However, we are not parsing the [GitHub-Flavored Markdown's extended autolinks](https://github.github.com/gfm/#autolinks-extension-), which are bare links with no explicit token. The fact that it should be parsed as a link is inferred by the format, for examp

[2020-10-02 18:58] dillonkearns opened #58 "Fix minor heading parsing cases related to whitespace"
There are some heading-related spec test case failures:

https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/ATX%20headings.md

## Summary of the Issues

The above link to the test results has links to the relevant sections of the spec. To summarize the current issues:

- At least one space is required between the # characters and the heading’s contents (https://spec.

[2020-10-02 19:09] dillonkearns opened #59 "Thematic breaks should take precedence over new bullet item parsing"
See failing spec test here: https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Thematic%20breaks.md#example-30

There isn't a spec test case for handling `-` thematic breaks, so be sure to handle that as well (we might want a test in [`Tests.elm`](https://github.com/dillonkearns/elm-markdown/blob/bf44b0a7568bdef300c26dc55c8e4090b73491cc/tests/Tests.elm) for that).

T

[2020-10-02 19:19] dillonkearns opened #60 "Nested link references definitions can be used at the top-level"
https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Link%20reference%20definitions.md#example-187

See also the rest of the failing cases in that file for context.

Here's where the link reference definition parsing is done and the definitions are added to the dict:

https://github.com/dillonkearns/elm-markdown/blob/c76fd356d1cea8040b1fd7ffcde4c6a928c1f50c/src/Markdow

[2020-10-02 19:27] dillonkearns opened #61 "Code fences can close with more characters than the opening"
See https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Fenced%20code%20blocks.md#example-113.

Right now our parser requires the closing delimiter to be the exact same length as the opening. Here's the relevant area in the code:

https://github.com/dillonkearns/elm-markdown/blob/b848af06c9769a90adb4da51bfe994e2ab058587/src/Markdown/CodeBlock.elm#L48

[2020-10-02 19:28] dillonkearns opened #62 "Opening code fences can be indented."
There are a few example spec failures, like this one: https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Fenced%20code%20blocks.md#example-106

We don't look for any whitespace in the opening code fence here:

https://github.com/dillonkearns/elm-markdown/blob/b848af06c9769a90adb4da51bfe994e2ab058587/src/Markdown/CodeBlock.elm#L19-L26

And we don't handle indentation

[2020-10-02 19:34] dillonkearns opened #63 "Unclosed code fences are closed by the end of the document"
https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Fenced%20code%20blocks.md#example-96

https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Fenced%20code%20blocks.md#example-98

[2020-10-02 19:36] dillonkearns opened #64 "A code block can be empty"
See the current output, expected output, and relevant spec section here:

https://spec.commonmark.org/0.29/#example-100

And see the parser code here: https://github.com/dillonkearns/elm-markdown/blob/b848af06c9769a90adb4da51bfe994e2ab058587/src/Markdown/CodeBlock.elm#L30-L51

This should be a good one to get started contributing to this repo.

[2020-10-02 19:56] dillonkearns commented on #44
I created a few more fine-grained issues with some context, so I'll close this issue and we can track the work there. Thanks all!

See #61 #62 #63 #64.

[2020-10-02 19:56] #44 closed

[2020-10-02 20:40] dillonkearns commented on #64
@thomasin is working on this issue right now.

[2020-10-02 20:40] dillonkearns commented on #63
@thomasin is working on this issue right now.

[2020-10-02 20:40] dillonkearns commented on #62
@thomasin is working on this issue right now.

[2020-10-02 20:40] dillonkearns commented on #61
@thomasin is working on this issue right now.

[2020-10-02 21:01] pkeugine commented on #58
Hi! I've joined Incremental Elm server and saw this issue which I could work on. I'm not an expert but I'll begin with this issue and try my best :)

[2020-10-02 21:48] dillonkearns commented on #58
@pkeugine that's great! Thank you for taking a look at this. I think this will be a great issue to get started with. Feel free to ping me if you have any questions!

[2020-10-08 15:06] #34 closed

[2020-10-11 07:59] nemesv opened #68 "Ellie examples using a custom HTML render are not compiling"
The type change of the `tableCell` in https://github.com/dillonkearns/elm-markdown/commit/fc9f1f32df804edef5b5a335aa20e80ff16a5d76#diff-3bbd44d91d5a9b8a715a706b8ef75fa7L61-R62
broke two of the ellie examples:

https://ellie-app.com/8kHgbSLfhfha1
https://ellie-app.com/8kQhZhZpjfca1

The fix the error the code could be updated, from

[code]

to

[code]

[2020-10-12 20:19] nemesv commented on #68
Duplicate of #54

[2020-10-12 20:19] #68 closed

[2020-10-20 20:31] stephenreddek commented on #57
@dillonkearns I'll work on this one if it's up for grabs!

[2020-10-20 20:32] dillonkearns commented on #57
It's all yours, thank you @stephenreddek! 👌 💯

[2020-10-21 15:25] stephenreddek commented on #57
@dillonkearns What are your thoughts on how to handle multiple trailing "entity references" per https://github.github.com/gfm/#example-626 ? It only explicitly mentions handling a single, trailing reference, but it sure feels like it should remove multiple of them if they exist.

[2020-10-21 15:35] stephenreddek commented on #57
One piece of supporting evidence for the idea of trimming all: the parentheses rule removes all trailing unmatched parentheses.

[2020-10-21 15:37] mdgriffith opened #70 "Inline html turning into it's own block when it starts a line."
Hello!

We have an inline html element for rendering a persons name and linking to their page in Blissfully.  We noticed that if an HTML element is at the start of a line, it will be considered its own block, even if there's following text.

So,

[code]

will render as

[code]

instead of

[code]

Our current workaround is to take the markdown source, and prepend a space to each line, which convin

[2020-10-21 16:05] stephenreddek commented on #57
Another question! The [spec for url autolinks](https://github.github.com/gfm/#extended-url-autolink) only mentions support he protocols `http` and `https`, but there's a [test](https://github.github.com/gfm/#example-628) that also shows supporting ftp. It's easy enough to add ftp specifically, but I'm unsure how to handle this seemingly conflicting information. Should it support only those  2 or 3

[2020-10-28 18:42] dillonkearns commented on #57
Hey @stephenreddek!

Good questions. So for the URL schemes, my thinking is that it should either 1) be very specific (only the explicit ones mentioned, http and https), or 2) be completely general (anything in the form of `scheme://`).

I don't like the idea of hardcoding a specific set when there are so many possible schemes: https://en.wikipedia.org/wiki/List_of_URI_schemes. And indeed, many di

[2020-10-28 18:47] dillonkearns commented on #57
Regarding trailing entity references, that seems right to me that we should remove multiple references. What happens on babelmark? I often let that by the tie breaker when I'm not sure, with a little extra weight given to the results from the official C implementation for the `GitHub Flavored Markdown` engine's results.

[2020-10-28 18:55] dillonkearns commented on #56
Thanks for the report, that's an excellent point.

I think the right answer here is to hide `DeadEnd` as an internal detail. Markdown parsers aren't actually supposed to fail at all, they always fallback to something. For example, `[this is treated as plain text because it's an unclosed link](https://example.com/`. That shouldn't give a parser error (and doesn't in this implementation).

The only

[2020-10-28 19:10] turboMaCk commented on #56
I think your points makes sense. The option with collecting warning sounds like the most robust way to go as it would give simple and close to spec defaults as well as enable more advanced custom use-cases.

When it comes to error correcting code I think in case of Elm (and any other VDom based rendering) it might be safest not to try to be overly smart and just fallback to text node quickly to av

[2020-10-28 19:12] dillonkearns commented on #56
Great points, thanks for the feedback! It's good to keep that use case in mind of quick live updates while editing markdown with a dev server. You're right that having simple plain text in those cases is helpful and probably a good enough reason to lean towards the side of having things like invalid HTML be a warning rather than an unrecoverable error.

[2020-10-28 19:52] #61 closed

[2020-10-28 19:53] dillonkearns commented on #62
Fixed by #69.

[2020-10-28 19:53] #62 closed

[2020-10-28 19:53] dillonkearns commented on #63
Fixed by #69.

[2020-10-28 19:53] #63 closed

[2020-10-28 19:53] dillonkearns commented on #64
Fixed by #69.

[2020-10-28 19:53] #64 closed

[2020-10-30 22:21] stephenreddek commented on #57
Yep, the official implementation drops them all so I'll just go with that!

[2020-11-25 22:05] alltonp commented on #48
Hi,

I'm really interested in rendering into markdown too!

Lots of interesting discussion above, just wondering, did this ever get added to the core code?

My use case: I'm running 'commands' against a piece of markdown and want to have the commands change the markdown. For example a command might be to add a line to a table, or to move the value one cell left/right.

FWIW, I'm slightly less worr

[2020-12-16 13:32] heyakyra commented on #7
No workaround for this?

[2020-12-16 13:53] klaftertief commented on #7
I started working on this a bit, but had to shift focus. Will try to come back to it, as I need it soonish.

[2020-12-21 10:09] Garados007 opened #73 "Nested lists are parsed as code block"
I have a problem to parse and render nested lists because they are rendered as a code block.

For this

[code]

I expect this:

----
1. List item
    - nested list item
    - other nested list item
2. Second list item
----
 But I only got this:
![image](https://user-images.githubusercontent.com/12125053/102764994-4ce4c980-437c-11eb-982d-3564b86c4230.png)

I have created an [Ellie App](https://elli

[2020-12-21 17:24] dillonkearns commented on #73
Hello @Garados007, thanks for the info. We're currently working on nested list parsing, and it's being tracked in #7. Keep an eye on that issue for updates! I'll close this issue to keep a single source of truth. Thanks!

[2020-12-21 17:24] #73 closed

[2021-02-10 03:49] #27 closed

[2021-03-16 12:16] turboMaCk commented on #70
For me even:

[code]

gets always wrapped into <p> like `<subscript><p>subscript</p></subscript>`

[2021-03-23 04:06] wolfadex commented on #54
I think this has change yet again. The current correct fix is: https://ellie-app.com/cHB3fRSKVRha1
- Missing `strikethrough`
- Incorrect `tableCell`

[2021-05-10 13:26] annaghi opened #80 "Custom HTML renderer fails with & character"
Hello, thank you for the great plugin!

I am having trouble with `&` character when using custom HTML renderer.

If you remove the `&` character in line 15 in this minimal working example, then it will compile without error:
[ellie example](https://ellie-app.com/d87mhvLbGkPa1)

Do you have any suggestion for workaround?

[2021-05-17 10:17] dabl34 opened #81 "unordered list parsing doesn't work with multilines item"
This markdown
[code]

Render to

But should render to

I'd like to help but I'm new to elm and I need to learn more about the Parser module. I tried to understand the code but I failed.

Thanks,
Daniel

[2021-08-12 18:03] NeoVier opened #91 "Can't parse bold and empashized at the same time"
If we try to parse something **strong** and *emphasized*, it should be ***strong and emphasized***, but it's only **strong**.

Here are some examples:

[code]

[2021-08-20 17:13] dillonkearns commented on #81
This is now fixed in version 7.0.0 🎉

Thank you for reporting the issue 🙏

[2021-08-20 17:13] #81 closed

[2021-08-20 17:15] dillonkearns commented on #58
This was fixed in #76 #77 🎉

[2021-08-20 17:15] #58 closed

[2021-08-20 17:15] dillonkearns commented on #59
This is fixed in the latest release, Elm package 7.0.0! 🎉

[2021-08-20 17:15] #59 closed

[2021-08-20 17:21] dillonkearns commented on #91
This is now fixed in the latest version!

Fixed by these commits:

b0d45a5a3bb6a57ffe37d6685e5d39250683bc23

f614759cf2ef470ecdb5fe6aaac3734e8eea5709

[2021-08-20 17:21] #91 closed

[2021-08-20 17:21] dillonkearns commented on #91
Thank you for reporting the issue! 🙏

[2021-08-20 17:22] dillonkearns commented on #7
This was fixed by #88! 🎉 Thanks again @LutSa and @klaftertief!!!

[2021-08-20 17:22] #7 closed

[2021-08-20 18:14] NeoVier opened #94 "Can't parse some inlines padded with space"
When parsing strong, emphasis or strikethrough that start and/or end with spaces, it gets parsed as a regular paragraph.

Here are some examples:

[code]

[2021-08-20 18:42] dillonkearns commented on #94
I think this parsing is correct. Babelmark is a great tool to test out different implementations. For example 2:

https://babelmark.github.io/?text=**+bold**

The official GFM implementation outputs:

[code]

Which is exactly what `dillonkearns/elm-markdown` 7.0.0 parses to: https://ellie-app.com/f4CGtmC95Ksa1.

I believe all of these cases are correct.

[2021-08-20 18:43] dillonkearns commented on #94
Based on the [spec section on emphasis and strong](https://github.github.com/gfm/#emphasis-and-strong-emphasis), and the results from babelmark, I believe the current implementation is correct for all these cases. So I'll close this issue, but if you find anything that I'm missing please let me know!

[2021-08-20 18:43] #94 closed

[2021-08-20 19:01] NeoVier commented on #94
Hm, okay, that makes sense. Thanks for the explanation!

[2021-08-20 20:28] David-Klemenc opened #95 "Ellie example in README.md does not compile"
The [ellie example](https://ellie-app.com/8kHgbSLfhfha1) does not compile:

[code]

[2021-08-20 21:15] dillonkearns opened #96 "Some blockquote laziness corner cases are not being followed"
https://github.com/dillonkearns/elm-markdown/blob/master/test-results/failing/GFM/Block%20quotes.md

The following cases are failing:

- https://spec.commonmark.org/0.29/#example-207
- https://spec.commonmark.org/0.29/#example-208
- https://spec.commonmark.org/0.29/#example-219

See the [blockquote laziness rules](https://spec.commonmark.org/0.29/#block-quotes).

[2021-09-04 09:07] allenap opened #105 "Indent is significant within HTML blocks"
**Observed:** Leading whitespace appears to cause the parser to see a code block _within_ an HTML block.

**Expected:** Whitespace within an HTML block should be treated the same as whitespace in HTML, i.e. for the most part it is insignificant. The examples of [HTML blocks in the GFM spec](https://github.github.com/gfm/#html-blocks) appear to show that nothing within an HTML block should be inter

[2021-09-08 05:44] quentin commented on #95
This part  is missing in the record built by `renderer`:
[code]

[2021-09-22 12:43] Viir opened #107 "Case of inconsistent list parsing?"
I was surprised by how version `7.0.0` maps this markdown string:

[code]

Here is a screenshot of parsed and rendered, based on one of the example ellies:

![image](https://user-images.githubusercontent.com/19209696/134345567-87c93784-3ccb-48ba-be5c-2c9a38641861.png)

https://ellie-app.com/fnbWFCZhzyTa1

There are three spaces in front of each list item. Is it desirable/intended to have this dist

[2021-09-22 12:49] Viir commented on #107
Reading about the goals of this markdown package in the readme, I guess we would look at https://github.github.com/gfm/#lists for a specification.

[2021-09-22 13:14] Viir commented on #107
I went searching for a change in the program code that would fix this inconsistency.
I'd start that search by adding a test for the scenario from this thread.
But running `elm-test-rs` on 1b0b3dc4f1170c4e8b00c68a38c49199fd8b067f (from the master branch) produces this error, no test results at all:
[code]

[2021-09-22 13:18] Viir commented on #107
I found the [test modules](https://github.com/dillonkearns/elm-markdown/tree/1b0b3dc4f1170c4e8b00c68a38c49199fd8b067f/tests) call them 'unordered lists' (not 'bullet lists'), so maybe the issue title is not ideal yet. 🤔

[2021-09-22 13:26] Viir commented on #107
If the indent before the list items is to be discarded, following might be a appropriate test:

[code]

[2021-09-22 13:33] Viir commented on #107
I don't have a lot of experience with parsing, but rummaging through the parsing code, I stumbled on this function that looks like a good candidate for experimenting with a change:

https://github.com/dillonkearns/elm-markdown/blob/1c0ca65ba01926ae8a8cfb25be1f2592b28ec416/src/Markdown/UnorderedList.elm#L38-L48

[2021-09-22 14:29] Viir commented on #107
Taking a break helped. I found an error in the test code. This one looks better:

[code]

[2021-09-22 14:43] Viir commented on #107
With more experimenting, I learned that I need to add backtracking here. This variant lets the test pass:

[code]

[2021-09-23 11:08] tad-lispy commented on #20
I would like that very much!

Aside: I'm getting started with Elm Pages and I'm pretty amazed by it! Great work.

[2021-10-02 15:45] dillonkearns commented on #105
Very good point @allenap, this has been on my mind, too. I think there are a few things to consider here. This is one of the things I want to clarify and make an explicit spec for as part of #93.

I think it's worth looking at a few different examples here and thinking through what would be intuitive. For example, if you have a line with only whitespace, should that be ignored for figuring out the

[2021-10-02 21:26] dillonkearns commented on #95
Thanks! These are fixed now with the merged PR from @quentin 👍

[2021-10-02 21:26] #95 closed

[2021-11-25 09:56] tad-lispy commented on #105
I think a parse error would be more useful here. First line indented and some lines below not is most likely an accident. And if the smallest indentation counts, this accident will result in incorrect output, e.g. some code blocks in the beginning.

I'm not sure if it's compatible with the design goals of Elm Markdown, but maybe we can be even more strict and require multi-line content inside HTML

[2022-02-06 13:01] sebsheep opened #112 "add a `toString : List Block -> String` function"
It would be nice having a `toString : List Block -> String` function which is a "reverse" of the parser.

Of course some data as indentation could be lost, but I think this manageable.

My use case and wished workflow is the following:
* an admin writes some article in a form. This content of the textarea is transformed to `List Block`
* this `List Block` is stored as it in the persistence layer (

[2022-03-01 19:07] dillonkearns commented on #112
There's a package that has support for something like this:

https://package.elm-lang.org/packages/matheus23/elm-markdown-transforms/latest/Markdown-Scaffolded#reducePretty

I might integrate some of the things in that package there at some point, but in the meantime it would be great if you could try that out and just give feedback and we can use that package to get a better understanding of the

[2022-04-08 16:45] houseofmercy-github commented on #51
I'm also trying to find a way to improve the user experience for this but am encountering some difficulties
importing the types I need to define a catch-all variation of **Markdown.Html.tag** which would just render
the unsupported tag in red.  I'm new to Elm so I left this question in `r/Elm`
* https://old.reddit.com/r/elm/comments/tw36nv/easy_questions_beginners_thread_week_of_20220404/i3x2lrj
-

[2022-04-11 20:46] ringvold opened #117 "Possible weird behavior in `mapAndAccumulate`"
I get some weird behavior when using `mapAndAccumulate` in the Block module.

I have a custom `fn` tag which contains some child elements. Before rendering I am gathering these elements and trying to remove them from the current list of blocks to reinsert them later with some extra markup around it.

The problem is that when using `mapAndAccumulate` and returning some other elements (a comment or

[2022-04-11 21:32] dillonkearns commented on #117
Could you give an executable example so we can make sure we're looking at the same thing? This one doesn't include any markdown so I have to guess at the context.

If I add this in the `BlockTransformTests` test cases then the test case here is green:

[code]

[2022-04-11 21:51] ringvold commented on #117
This should reproduce the issue:
[code]

I know we talked about using attributes to avoid the wrapping of content in p-tags, but given that I do not mind the p-tag wrapping, putting markdown inside the tag should work, right?

[2022-04-11 22:07] dillonkearns commented on #117
I'm still not following, what is the expected behavior and what is it doing instead?

In what way is it not working? It seems like it's parsing it to a link, could you point me to the unexpected part?

[2022-04-11 22:19] ringvold commented on #117
Executing the test should indicate the unexpected part.
To make it easier to spot the difference I will ignore the accumulated result because that is correct and just show the mapped blocks.

What I expect as a result:
[code]

What actually happens:
[code]

When mapping the tag to some other block the content inside/children of the tag should not be included in the resulting list. In this case I o

[2022-04-11 22:29] ringvold commented on #117
Seems like that might be the expected behavior when looking at `foldl` which `mapAndAccumulate` uses.

[2022-04-11 22:37] dillonkearns commented on #117
Yeah, I'm not quite sure if that's just the natural behavior for running `foldl` on the nested block structure, or if there's something off with the implementation. You can take a look and see if there's a way to tweak things that makes more sense: https://github.com/dillonkearns/elm-markdown/blob/65f3631874ff83de01aed1cfef3f8b2dabcfd7e4/src/Markdown/Block.elm#L899-L905.

It does seem counterintui

[2022-04-11 22:54] ringvold commented on #117
Yeah, I'm not sure. Kind of depends on what you expect I guess. Maybe there could be a non-traversing fold in addition to the existing `foldl`? Would help my use case where I want to remove a block and its children. 😁

Changing the HtmlElement-case breakes the `traversal order is depth-first` test so I guess any changes should be additions?

[2022-04-12 17:46] ringvold commented on #117
My fix for now is to copy the functions and modify them to my needs. :)

[2022-04-13 16:52] jhrcek opened #118 "Parser of html entities is munging too much input - returning errors when & is part of normal text"
Hello,
thank you for working on this package, our [NeuroBlu](https://www.neuroblu.ai/) analytics platform we're building at Holmusk is making heavy use of it and so far we didn't encounter any major issues.
Only today we encountered an issue with the markdown parsing logic.

I recreated the issue based off of one of your examples in ellie: https://ellie-app.com/hcCTpkbfLM7a1

The issue is that whe

[2022-04-19 17:32] #117 closed

[2022-05-06 02:19] slimsag opened #119 "Headers without empty lines between not supported"
As shown in [markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) GFM supports the following syntax:

[code]

However, elm-markdown fails to render this and instead renders:

[code]

The following does work, however:

[code]

[2022-05-06 02:22] slimsag commented on #119
Huh, nevermind, I can't repro with https://ellie-app.com/hqBmrZn2b2ca1 so must be a bug in my app.

[2022-05-06 02:22] #119 closed

[2022-05-06 02:55] slimsag opened #120 "minor inconsistencies with GFM"
Not sure which of these are intentional differences or not. Feel free to close if not useful! Happy to break out specific ones into separate issues.

I found all of these by trying to run the Markdown that makes up ths [Markdown cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet) through elm-markdown.

---

## GFM hidden anchors not supported

<a name="videos"/>

[code]

[2022-06-29 11:45] jhrcek commented on #118
Gentle ping @dillonkearns
Could you please comment what you think about possible ways to fix this?
I could invest some time this weekend to implementing a fix.
I'd just like to know your opinion on acceptable ways to fix this before I invest time into implementing it.
My plan would be to lookup some html entity specification and tweak the parser to be more picky about which characters to munge.

[2022-07-02 09:11] jhrcek commented on #118
Your suggestion sounded promising, so I tried it in ellie: https://ellie-app.com/hW5B9L5ySjMa1

Unfortunately both of these ways end with parser error

`"<div>Milk & Honey</div>"` gives error: Problem at row 1 No entity named "& Honey;" found.
`"<div>Milk &amp; Honey</div>"` gives error: Ran into a oneOf with no possibilities!

The second error coming from here https://github.com/dillonkearns/elm-

[2022-07-02 14:52] bburdette commented on #118
@jhrcek the defaultHtmlRenderer implements html parsing like [this](https://github.com/dillonkearns/elm-markdown/blob/a483add6556c469d6d0e6d4a191593a5000114fd/src/Markdown/Renderer.elm#L184).

`oneOf []`, means no html keywords are implemented by default.  See [here](https://package.elm-lang.org/packages/dillonkearns/elm-markdown/latest/Markdown-Html) for more.

In elm-markdown, the html-ish tags

[2022-07-03 04:11] jhrcek commented on #118
@bburdette thank you. I should have read through the docs more thorougly before reporting this issue on behalf of a colleague.
Using `&amp;` in combination with defaultHtmlRenderer tweaked by a list of supported html tags made my example work.
I'm closing this issue as I managed to make our usecase work.

[2022-07-03 04:11] #118 closed

[2022-09-06 21:28] thomasin opened #123 "Inline HTML blocks with < and > chars don't get parsed as HTML"
Pretty sure this is a bug!

Failing test:
https://github.com/dillonkearns/elm-markdown/compare/master...thomasin:elm-markdown:bug/html-attributes

I think it has something to do with the inline logic, because it only affects inline HTML blocks, but all of that code is a bit more opaque to me.

[2022-09-16 13:41] BrianHicks opened #124 "spaces before closing inline pairs don't parse"
Here's an example:

[code]

I'd expect this should be formatted as "this is a **strong** word" but comes out as unparsed source.

Context: I have some source coming in from Airtable, which is a "markdown-inspired" markup. It's close, but there are times like this where it does weird stuff. GitHub's parser correctly parses this, however, so I think it's reasonable.

[2022-09-16 15:13] dillonkearns commented on #124
So it seems like a possible fix here would be to provide the inline parser with a fallback to give back its raw text:

https://github.com/dillonkearns/elm-markdown/blob/a483add6556c469d6d0e6d4a191593a5000114fd/src/Markdown/InlineParser.elm#L16-L28

I'm not sure if that would cause any other failures in the test suite, but the tests are quite robust so we'd find out pretty quickly whether that intr

[2022-10-24 23:44] dillonkearns commented on #120
Hello @slimsag, `dillonkearns/elm-markdown` renders HTML blocks by defining explicit handlers for them like this:

https://ellie-app.com/d7R3b9FsHfCa1

So the behavior your seeing is as designed, the idea is that you opt in to deciding how to render HTML tags. That way you can define custom tags (like a `<video-embed>` tag or a `<tweet-embed>` tag with custom logic for example).

That said, there

[2022-10-30 05:52] dillonkearns commented on #51
@houseofmercy-github `Markdown.HtmlRenderer` isn't exposed in the public module (see the list of exposed modules in the package at https://package.elm-lang.org/packages/dillonkearns/elm-markdown/latest/).

elm-markdown currently only exposes the API you see in `Markdown.Html` for defining HTML rendering behavior and how to parse HTML tags.

I do think it would make sense to allow for some way to h

[2022-10-30 06:02] dillonkearns commented on #123
Shouldn't it be escaped?

When I enter something similar here it gives an error:

https://validator.w3.org/nu/#textarea

<img width="1356" alt="Screenshot 2022-10-30 at 11 31 25 AM" src="https://user-images.githubusercontent.com/1384166/198864846-be7a75f4-447f-447f-a8fa-25883db80958.png">

So instead of this:

`<img src="https://avatars2.githubusercontent.com/<u>/1384166" />`

Wouldn't the correct

[2022-10-30 11:24] thomasin commented on #123
I think that error is specific to path strings like `src`/`href`, which need to contain a valid URL
Something like `<div data-path="<here>"></div>` passes fine
https://html.spec.whatwg.org/#attributes
Sorry I should have provided more background info!

[2022-10-31 04:01] dillonkearns commented on #123
Oh okay, thank you for clarifying! Then it does seem like a bug indeed.

The HTML parser is forked from https://github.com/jinjor/elm-xml-parser. I searched through there but couldn't find a related issue unfortunately.

But the error code must be somewhere within this code path I think: https://github.com/dillonkearns/elm-markdown/blob/a483add6556c469d6d0e6d4a191593a5000114fd/src/HtmlParser.elm#L

[2022-11-08 20:29] Aarkon opened #125 "iframe yields Markdown Error"
For my use case (a band website), I have to rely on the embed-bits from YouTube and Bandcamp, both utilise iframes. For example:

[code]
YouTube‘ doesn‘t look that different, structurally. But when I have any of those in my Markdown, the `defaultHtmlRenderer` gives me bad looks.

I know there are some issues here already dealing with inline html, but I felt it was good to not let my observation sl

[2022-11-10 05:46] dillonkearns commented on #125
Hi @Aarkon, there's some discussion of that topic here: https://github.com/dillonkearns/elm-markdown/issues/51.

I would like to figure out a nice design for how to handle passthrough HTML elements in the future.

Depending on your use case, you may be able to handle this by encapsulating this with a more high-level element, which in my opinion is cleaner when it's feasible.

So you could do somet

[2022-11-10 05:46] #125 closed

[2022-11-17 09:50] Aarkon commented on #125
I'll look into `Markdown.Html`, thank you!
The only issue I have with this approach is that I'd have to replace embed codes like the one from my example above with something custom, am I right? As I want non-developers to to edit the markup files, I'd say that's not ideal in terms of acceptance. Especially since my goal is to replace a crappy & bloated Word Press with your also very shiny Elm Page

[2022-11-26 19:22] dillonkearns commented on #125
Yeah, it depends on your workflow, some CMS tools offer a way to define higher-level widgets that you can embed like that high-level example, which I think is a nice experience for non-technical users because then they don't have to fiddle with low-level HTML and risk getting something wrong. Also you can be more confident about upgrading code because it has less duplication (make a change to the